body{
    background-color: rgb(223, 223, 223);
    
}
.chart-div{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: #00caca;
    border: solid 3px #009191;
    border-radius: 7px;
}
.header h1{
    margin:0;
    font-family: 'Trebuchet MS','Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    color: #0050a0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.MuiTab-textColorPrimary{
    color: #0050a0 !important;
}

.MuiTabs-indicator {
    background-color: white !important;
}
.Mui-selected{
    color: white !important;
}

.MuiTab-wrapper{
    font-family: 'Fredoka One', cursive;
}
