.headh2{
    font-size: 25px;
    margin: 0;
    font-family: 'Fredoka One', cursive;

}
.headh6{
    font-size: 20px;
    margin: 0;
    margin-top: 15px;
    font-family: 'Fredoka One', cursive;

}
